<p id="notice"><%= notice %></p>

<p>
  <strong>Sypply:</strong>
  <%= @additional.sypply %>
</p>

<p>
  <strong>Description:</strong>
  <%= @additional.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @additional.active %>
</p>

<%= link_to 'Edit', edit_additional_path(@additional) %> |
<%= link_to 'Back', additionals_path %>
