<p id="notice"><%= notice %></p>

<h1>Listing Parking Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parking_types.each do |parking_type| %>
      <tr>
        <td><%= parking_type.description %></td>
        <td><%= parking_type.active %></td>
        <td><%= link_to 'Show', parking_type %></td>
        <td><%= link_to 'Edit', edit_parking_type_path(parking_type) %></td>
        <td><%= link_to 'Destroy', parking_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking type', new_parking_type_path %>
