<%- model_class = ParkingType -%>
<div class="page-header">
  <h2><%=t '.title', :default => "Tipos de Espacio" %></h2>
</div>
<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parking_types.each do |parking_type| %>
      <tr>
        <td><%= link_to parking_type.id, parking_type_path(parking_type) %></td>
        <td><%= parking_type.description %></td>
        <td><%= parking_type.active %></td>
        <td><%=l parking_type.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => "Modificar"),
                      edit_parking_type_path(parking_type), :class => 'btn btn-xs btn-info' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      parking_type_path(parking_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "Nuevo"),
            new_parking_type_path,
            :class => 'btn btn-info' %>
