<%- model_class = Supply -%>
<div class="page-header text-primary">
  <h2><%=t '.title', :default => "Ofertas" %></h2>
</div>
<table class="table table-striped">
  <thead class="thead thead-form">
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:number_space) %></th>
      <th><%= model_class.human_attribute_name(:hourly_rate) %></th>
      <th><%= model_class.human_attribute_name(:daily_rate) %></th>
      <th><%= model_class.human_attribute_name(:weekly_rate) %></th>
      <th><%= model_class.human_attribute_name(:monthly_rate) %></th>
      <th><%= model_class.human_attribute_name(:region_id) %></th>
      <th><%= model_class.human_attribute_name(:state_id) %></th>
      <th><%= model_class.human_attribute_name(:zone_id) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= link_to supply.id, supply_path(supply) %></td>
        <td><%= supply.number_space %></td>
        <td><%= supply.hourly_rate %></td>
        <td><%= supply.daily_rate %></td>
        <td><%= supply.weekly_rate %></td>
        <td><%= supply.monthly_rate %></td>
        <td><%= supply.region_id %></td>
        <td><%= supply.state_id %></td>
        <td><%= supply.zone_id %></td>
        <td><%= supply.address %></td>
        <td><%= supply.active %></td>
        <td><%=l supply.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => "Modificar"),
                      edit_supply_path(supply), :class => 'btn btn-info btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supply_path(supply),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "Nuevo"),
            new_supply_path,
            :class => 'btn btn-info' %>
