<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @vehicle_type.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @vehicle_type.active %>
</p>

<%= link_to 'Edit', edit_vehicle_type_path(@vehicle_type) %> |
<%= link_to 'Back', vehicle_types_path %>
