<!-- <p class="navbar-text navbar-right"> -->
  <% if current_user %>
      Acceso para: <%= link_to current_user.friendly_name, edit_profile_path(current_user.default_profile), class: "navbar-link label label-info acceso-como" %>
      <%= " | " %> 
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  <% else %>
  		<%= link_to "Iniciar Sesión", user_session_path, class: "btn btn-default" %>
		<%= link_to "Crear una cuenta", new_user_registration_path, class: "btn btn-warning" %>
  <% end %>
<!-- </p> -->