<li><%= link_to "Portada", home_index_path  %></i>
<!-- <li><#%= link_to "Actualizar de Perfil", "" %></li> -->
<li><%= link_to "Tipos de Estacionamiento", parking_types_path %></li>
<li><%= link_to "Publicar ofertas", supplies_path %></li>
<li><%= link_to "Reserva de Estacionamiento", ""  %></li>
<li><%= link_to "Formar de Pago", ""  %></li>
<li><%= link_to "Registro de Espacio", ""  %></li>
<li><%= link_to "Vehiculo", vehicles_path  %></li>
<li><%= link_to "Departamento", regions_path  %></li>
<li><%= link_to "Provincia", states_path  %></li>
<li><%= link_to "Distrito", zones_path  %></li>
<li><%= link_to "Servicios Adicionales", zones_path  %></li>
